.modal{
    background-color: rgba(0, 0, 0, 0.252);
    .modal-dialog{
        align-items: center;
        justify-content: center;
        padding-top: 3%;
        .modal-body{
            padding: 0px;
            height: 80vh;
            .login-body{
                .header-modal{
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    .title{
                        padding-top: 5%;

                        .title_1{
                            font: 1em sans-serif;
                            font-size: 20px;
                            
                            font-weight: 550;
                        }
                        .title_2{
                            font-size: 13px;
                            font: 1em sans-serif;
                            color: rgb(3, 156, 3);
                        }
                    }
                    .icon-header{
                        padding-top: 3%;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        .icon_1{
                            margin-left: 3%;
                            text-align: center;
                            .icon{
                                height: 50px;
                                width: 50px;
                                border-radius: 20px;
                                padding: 0px;
                                margin-left: 20px;
                                background-color: antiquewhite;
                                .bhr_01{
                                    margin-top: 8px;
                                    margin-left: 1px;
                                }
                            }
                            .text-group{
                                line-height: 0.5;
                                padding: auto;

                                .pr_01{
                                    padding-top: 10px;
                                   
                                    font-weight: 550;
                                }
                            }
                           
                        }
                        .icon_2{
                            margin-left: 25%;
                            text-align: center;
                            .icon{
                                height: 50px;
                                width: 50px;
                                margin-left: 17px;
                                border-radius: 20px;
                                padding: 0px;
                                background-color: antiquewhite;
                                .bhr_02{
                                    margin-top: 8px;
                                    margin-left: 1px;

                                }
                               
                            }
                            .text-group{
                                line-height: 0.5;
                                padding: auto;

                                .pr_02{
                                    padding-top: 10px;
                                    font-weight: 550;
                                }
                            }
                           
                        }
                    }
                }
                .input-values{
                    .form{
                        padding: 50px;
                        .lbf_email{
                            font-weight: 545;
                        }
                        .ipf_email{
                            margin-top: 1%;
                            height: 45px;
                            border-radius: 5px;
                            background-color: white;
                            border: 1px solid rgb(165, 165, 165);
                            transition: border 0.1s ease;
                            cursor: pointer;
                        }
                        .ipf_email:hover{
                            border: 1px solid rgb(0, 0, 0);
                        }
                        .lbf_password{
                            margin-top: 10px;
                            font-weight: 545;
                        }
                        .ipf_password{
                            margin-top: 1%;
                            height: 45px;
                            border-radius: 5px;
                            background-color: white;
                            border: 1px solid rgb(170, 170, 170);
                            transition: border 0.1s ease;
                            cursor: pointer;
                        }
                        .ipf_password:hover{
                            border: 1px solid rgb(0, 0, 0);
                        }
                        .btnf_login{
                            background-color: rgb(255, 88, 28);
                            height: 45px;
                            text-align: center;
                            align-items: center;
                            justify-content: center;
                            transition: transform 0.1s ease, background-color 0.1s ease;
                            margin-top: 20px;
                            outline: none;
                            color: white;
                            border-radius: 25px;
                            border: 1px solid rgb(255, 84, 22)
                            
                        }
                        .btnf_login:hover{
                            transform: scale(1.01);
                            background-color: orangered;
                        }
                    }
                }
            }
        }
    }
    
}

